/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #0f0f0f;
    --color01: #e25d6c;
    --color02: #cea37f;
    --color03: #f4bb54;
    --color04: #e2be8a;
    --color05: #ede4c8;
    --color06: #e8ab3b;
    --color07: #e6caab;
    --color08: #706a6a;
    --color09: #e9838f;
    --color10: #cea37f;
    --color11: #edb95a;
    --color12: #eacea7;
    --color13: #ede4c8;
    --color14: #ecb95c;
    --color15: #eadccc;
}
