@define-color bg #0f0f0f;
@define-color fg #eadccc;
@define-color gray1 #cea37f;
@define-color gray2 #706a6a;
@define-color gray3 #e2be8a;
@define-color gray4 #f4bb54;
@define-color gray5 #ede4c8;
@define-color fg_bright #eadccc;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}